parameters:
	ignoreErrors:
		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Albania\:\:arafat\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Albania.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Albania\:\:ashura\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Albania.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Albania\:\:islamicNewYear\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Albania.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Albania\:\:prophetMuhammadBirthday\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Albania.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Malaysia\:\:arafat\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Malaysia.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Malaysia\:\:ashura\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Malaysia.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Malaysia\:\:eidAlAdha\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Malaysia.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Malaysia\:\:eidAlFitr\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Malaysia.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Malaysia\:\:islamicNewYear\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Malaysia.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Malaysia\:\:prophetMuhammadBirthday\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Malaysia.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Syria\:\:arafat\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Syria.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Syria\:\:ashura\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Syria.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Turkey\:\:arafat\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Turkey.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Turkey\:\:ashura\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Turkey.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Turkey\:\:islamicNewYear\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Turkey.php

		-
			message: '#^Access to undefined constant Spatie\\Holidays\\Countries\\Turkey\:\:prophetMuhammadBirthday\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Countries/Turkey.php
